@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    scroll-behavior: smooth;
}

:root {
    font-family: "Roboto", sans-serif;
    --primary-color: #ea883c;
    --primary-color-hover: #b1672e;
    --secondary-color: #102542;
}

* {
    box-sizing: border-box;
}

.body-bg {
    background-color: #f5f5f5;
}

.body-margin {
    @apply px-4 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8;
}

.link {
    @apply text-primary-color hover:text-primary-color-hover transition duration-500;
}


.blinds {
    @apply hidden md:inline-block w-auto h-auto text-gray-600 cursor-pointer;
}

.blinds-collapse {
    @apply inline-block md:hidden w-auto h-auto text-gray-600 cursor-pointer;
}

.nav {
    @apply bg-white;
}

.nav-fixed-bottom {
    @apply fixed bottom-4 right-4 md:bottom-8 md:right-8 z-40 flex flex-col gap-4 items-center justify-between w-12 md:w-16 overflow-hidden;
}

.nav-fixed-bottom * {
    @apply opacity-50 hover:opacity-100 transition ease-in-out duration-500 cursor-pointer text-white;
}

.nav-move-top {
    @apply flex items-center justify-center text-lg rounded w-12 h-12 bg-[#040c14];
}

.nav-collapse {
    @apply md:hidden right-0 w-3/4 h-screen z-40 bg-white p-3 font-light;
}

.nav-collapsed {
    opacity: 0;
    /* transform: translateY(150%); */
    @apply transition duration-500 ease-in-out;
}

.nav-show {
    opacity: 1;
    /* transform: translateY(0%); */
    @apply transition duration-500 ease-in-out;
}

.menu-mobile-btn {
    @apply block md:hidden cursor-pointer;
}

.menu-items {
    @apply flex items-center hidden space-x-8 lg:flex;
}

.menu-item {
    @apply font-medium tracking-wide text-gray-700 transition-colors duration-500 hover:text-primary-color;
}

.mobile-menu-btn-container {
    @apply lg:hidden z-50 w-full top-0;
}

.mobile-menu-btn {
    @apply lg:hidden p-2 mr-1 transition duration-500 rounded focus:outline-none;
}

.mobile-menu-close-btn {
    @apply p-2 -mt-2 -mr-2 transition duration-500 rounded hover:bg-gray-200 focus:bg-gray-200 focus:outline-none;
}

.mobile-menu-item {
    @apply font-medium tracking-wide text-gray-700 transition-colors duration-500;
}

.tag-line {
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.05), 0 8px 10px -6px rgb(0 0 0 / 0.05);
    @apply inline-block text-4xl px-8 py-4 bg-white;
}

.posts-list-container {
    grid-auto-flow: dense;
    @apply grid gap-16 lg:grid-cols-4 sm:max-w-sm sm:mx-auto lg:max-w-full;
}

.post-card {
    grid-auto-rows: auto;
    @apply overflow-hidden transition-shadow duration-500 bg-white shadow-sm text-center self-start;
}

.post-card-title {
    @apply inline-block mb-3 text-2xl leading-5 hover:text-primary-color-hover transition-colors duration-500;
}

.post-card-category {
    @apply transition-colors duration-500 text-gray-600;
}

.post-card-desc {
    @apply mb-2 text-gray-700 text-ellipsis;
}

.post-card-cta {
    @apply inline-flex items-center font-semibold transition-colors duration-500;
}

.contact-container {
    @apply flex flex-col lg:flex-row justify-between items-center;
}

.newsletter-container {
    @apply max-w-2xl px-3 py-5 rounded-2xl md:px-8 md:py-7;
}

.newsletter-title {
    @apply text-2xl font-semibold tracking-wide text-white lg:text-3xl;
}

.newsletter-text {
    @apply max-w-xl mt-2 leading-relaxed text-blue-100 lg:text-lg;
}

.newsletter-form-container {
    @apply my-4 sm:flex sm:flex-row sm:justify-evenly;
}

.newsletter-input {
    @apply block w-full px-4 py-3 mt-3 text-black placeholder-gray-500 bg-white border border-gray-300 rounded-md appearance-none sm:max-w-xs focus:outline-none focus:ring focus:ring-blue-50 focus:border-blue-300;
}

.newsletter-submit-btn {
    @apply bg-primary-color hover:bg-primary-color-hover block w-full py-3 mt-3 font-bold tracking-wide rounded shadow sm:ml-3 md:w-52 text-white transition duration-500;
}

.single-post-container {
    @apply w-full mx-auto relative;
}

.single-post-featured-image {
    @apply bg-cover bg-center text-center w-[96.4vw] md:w-[97.4vw] lg:w-[98.4vw] xl:w-[98.8vw] overflow-hidden;
}

main article {
    @apply bg-white relative top-0 -mt-32 p-5 sm:p-10 shadow-lg;
}

main article h1 {
    @apply text-gray-900 font-bold text-3xl mb-2;
}

main article h3 {
    @apply text-2xl font-bold my-5;
}

main article p {
    @apply text-base leading-8 my-5;
}

main article p a {
    @apply text-base leading-8 my-5;
}

main article blockquote {
    @apply border-l-4 text-base italic leading-8 my-5 p-5 text-gray-600;
}

main article .post-keywords {
    @apply text-xs link transition duration-500 ease-in-out;
}
